{{> nav/nav-block user=true register=false}}

<div class="container">
  <header align="center">
    <div class="userId">
      <h2 class="title is-2">Welcome, {{userInfo.firstName}}!</h2>
      <p>Below you can manage your profile.</p>
      <h5 id="user-number" class="profile-text" data-useremail="{{userInfo.email}}">Account email: {{userInfo.email}}</h5>
    </div>
    <h3 class="title is-3">View or update your user</h3>
    <h3 id="update-err-msg"></h3>
  </header>

  <form id="user-form">
    <div class="tile is-ancestor is-vertical">
      <div class="tile is-4 is-vertical">
        <label for="inputFirst">First Name</label>
        <input type="text" class="input is-link" id="inputFirst" value="{{userInfo.firstName}}" placeholder="John">
        <label for="inputLast">Last Name</label>
        <input type="text" class="input is-link" id="inputLast" value="{{userInfo.lastName}}" placeholder="Doe">
      </div>
    

    <div class="tile is-4 is-vertical">
        <label for="inputPassword">Email</label>
        <input type="text" class="input is-link" id="inputEmail" value="{{userInfo.email}}">
        <label for="inputPassword">Password</label>
        <input type="password" class="input is-link" placeholder="******" id="inputPassword" value="{{userInfo.password}}">
      </div>
      </div>
    
<div id="choice">
    <div class="options">
      <button type="submit" id="update-user" data-id="{{userInfo.id}}" class="button">Update</button>
      
        <button type="submit" id="delete-user" class="button">Delete</button>
      
      <button type="submit" id="view-user" data-id="{{userInfo.id}}" class="button">Refresh</button>
    </div>
    </div>
  </form>

  <div class="modal" id="delete-user-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Re-Enter Credentials to delete user</h5>
        </div>

        <div class="modal-body">
          <h3 id="err-msg"></h3>
          <form>
            <div class="form-group">
              <label for="userEmail">Email:</label>
              <input type="text" class="form-control" id="userEmail">
            </div>
            <div class="form-group">
              <label for="userPassword">Password:</label>
              <input type="password" class="form-control" id="userPassword">
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button id="confirm-delete" type="button" data-id="{{userInfo.id}}" class="btn btn-primary">Confirm Delete</button>
          <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">Nah I'll stay</button>
        </div>
      </div>
    </div>
  </div>
</div>
